body{
    height: 100vh;
    background: var(--bgUrl) no-repeat top center/cover;
}

body *{
    font-family: "Inter", sans-serif;
    color: var(--textColor);
}

#container{
    width: 100%;
    max-width: 588px;
    margin: 56px auto auto auto;
    padding: 0 24px;
}

#profile{
    padding: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

#profile p{
    font-weight: 500;
}

#profile img{
    width: 112px;
}

/* switch */

#switch{
    width: 64px;
    position: relative;
    margin: 4px auto;
}

#switch button{
    width: 32px;
    height: 32px;
    background: #fff var(--switchBgUrl) no-repeat center;
    border: 0;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 50%;
    transform:  translateY(-50%);
    transition: .3s;
}

#switch button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px var(--highLightColor);
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surfaceColor);
    border: 1px solid var(--strokeColor);
    border-radius: 9999px;
    backdrop-filter: blur(4px);
}

.light #switch button{
    left: 0;
}



/* Lista de links */

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a{
    padding: 16px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background: var(--surfaceColor);
    border: 1px solid var(--strokeColor);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}

ul li a:hover {
    background: var(--strokeColor);
    border: 1.5px solid var(--textColor);
}

#socialLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    font-size: 24px;
}

#socialLinks a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 50%;
    transition: background .3s;
}

#socialLinks a:hover{
    background: var(--highLightColor);
    padding: 16px;
    
}

footer{
    font-size: 14px;
    text-align: center;
    padding: 24px;
}

footer p span{
    font-weight: 500;
}


/* Reponsivo */

/* Background */

@media (min-width: 700px) {
    :root {
        --bgUrl: url(../images/bg-desktop.jpg);
    }

    .light{
        --bgUrl: url(../images/bg-desktop-light.jpg);
    }
}