body{
    background: url(../images/bg-mobile.jpg) no-repeat top center/cover;
}

body *{
    font-family: "Inter", sans-serif;
    color: #ffffff;
}

#container{
    width: 360px;
    border: 1px solid #fff;
    margin: 56px auto auto auto;
}

#profile{
    padding: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

#profile p{
    font-weight: 500;
    line-height: 24px;
}

#profile img{
    width: 112px;
}