body{
    background: url(../images/bg-mobile.jpg) no-repeat top center/cover;
}

body *{
    font-family: "Inter", sans-serif;
    color: #ffffff;
}

#container{
    width: 360px;
    margin: 56px auto auto auto;
}

#profile{
    padding: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

#profile p{
    font-weight: 500;
}

#profile img{
    width: 112px;
}

/* Lista de links */

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

ul li a{
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(4px);
}